<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="c-navigation__item {% if page.url == '/articles/' %}is-active{% endif %}" href="{{ "/articles/" | prepend: site.baseurl }}">Articles</a>
    <a class="c-navigation__item {% if page.url == '/FAQ/' %}is-active{% endif %}" href="{{ "/FAQ/" | prepend: site.baseurl }}">FAQ</a>
    <div class="dropdown">
      <a class="c-navigation__item {% if page.url == '/linuxchixin/' %}is-active{% endif %}" href="{{ "http://india.linuxchix.org/" | prepend: site.baseurl }}"></a>
      <span>Chapters</span>
      <div class="dropdown-content">
        <span>Delhi</span>
      </div>
    </div>  
    </a>
  </div>
</nav>
